:root{
    --jaune : rgba(254,198,75,255);
    --hover : #FED885;
    --gris : rgb(56, 56, 56);
    --grisHover : rgb(129, 129, 129);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

body{
    background-color: var(--gris);
    max-width: 100vw;
}

header{
    background-color: rgba(56, 56, 56, 0.8);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

header img {
    max-height: 9vh;
}

nav{
    display: flex;
    margin-right: 7%;
}

nav ul {
    display: flex;
    gap: 8%;
}

nav li , nav a:visited ,nav a {
    color: var(--jaune);
    list-style: none;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration-line: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    font-size: 2vh;
}

nav li:hover{
    color: var(--hover);
}
nav li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--hover);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
nav li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

 /*
========================================================================================
PAGE Home
========================================================================================
*/

/*
========================================================================================
Partie BANNER
========================================================================================
*/

#banner{
    width: 100%;
    max-width: 100%;
    margin-top: 10vh;
}

#banner figure {
    width: 100%;
}

#banner img {
    max-width: 100%;
    width: 100%;
}

/*
========================================================================================
Partie ACTIVITIES
========================================================================================
*/

#activities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
#activities h2 {
    color: var(--jaune);
    font-size: 10vh;
    font-family: "Permanent Marker", cursive;
}


#cardsBox{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25vw;
}

.cardContent {
    padding: 5%;

}
.cardContent p{
    margin: 5%;
    text-align: center;
    color: var(--jaune);
    font-size: larger;
    font-family: "Raleway", sans-serif;
}
.cardContent h3{
    font-family: "Permanent Marker", cursive;
    color: var(--jaune);
    font-size: 2rem;
}

.cardHeader{
    width: 100%;
    height: 30%;
}

.cards figure {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.cards img{
    object-fit: contain;
    width: 80%;
    height: 100%;
}
/*
========================================================================================
PARTIE Parallaxe 
========================================================================================
*/

#parallaxe{
    width:100%;
    height: 70vh;
    background:url('../asset/Gare_Debout_bg_parallaxe_bw.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

#parallaxe h3{
    color: var(--jaune);
    font-size: 10vw;
    font-family: "Permanent Marker", cursive;
}

#parallaxe p {
    color: var(--jaune);
    font-size: 2vw;
    font-family: "Raleway", sans-serif;
}

/*
========================================================================================
PARTIE Quote 
========================================================================================
*/

#quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10% 4%;
    background-color: var(--jaune);
}

#quoteContent{
    color: var(--gris);
    font-size: xx-large;
    text-align: justify;
    font-style: italic;
    font-family: "Raleway", sans-serif;
}

#author{
    color: var(--gris);
    font-size: x-large;
    text-align: right;
    align-self: flex-end;
    font-family: "Raleway", sans-serif;
    margin-top: 3%;
}

#quote #quoteContent::before {
    content: "“";
    font-family: Georgia;
    font-size: 8rem;
    margin: -2rem 0 0 -4rem;
    position: absolute;
    opacity: 0.5;
 }
 
 #quote #quoteContent::after {
    content: "”";
    font-family: Georgia;
    font-size: 8rem;
    margin: -1rem -4rem 0 0;
    position: absolute;
    opacity: 0.5;
 }

 /*
========================================================================================
PARTIE Footer
========================================================================================
*/

#footerWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#gridFooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#logoFooter a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoFooter img{
    width: 50%;
}

#infoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#infoFooter p{
    color: var(--jaune);
    font-size: 1.5vh;
}

#followUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--jaune);
    gap: 10%;
}

#followUs h4{
    font-size: 3vw;
}

#logoSocialNetwork{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
}

#logoSocialNetwork i {
    font-size: 3vw;
}

#logoSocialNetwork i:hover{
    color: var(--hover);
}
#footerWrapper p{
    color: var(--jaune);
    text-align: center;
    font-size: 1.5vw;
    transition: 0.5s;
}
#footerWrapper p a,#footerWrapper p a:visited,#footerWrapper p a:checked{
    color: var(--jaune);
    text-decoration: none;
    transition: 0.5s;
}

#footerWrapper p a:hover{
    color: var(--hover);
    transition: 0.5s;
}
 /*
========================================================================================
PAGE Contact
========================================================================================
*/
 /*
========================================================================================
PARTIE Informations
========================================================================================
*/
#contactInformations{
    background-color: var(--jaune);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 5%;
}
#contactInformations h1{
    color: var(--gris);
    font-size: 7vh;
    font-family: "Permanent Marker", cursive;
    margin-bottom: 3%;
}
#contactInformations p{
    margin: 2%;
}
#contactInformations p,#contactInformations a ,#contactInformations a:checked, #contactInformations a:visited{
    color: var(--gris);
    text-decoration: none;
    font-size: 2vh;
    
}
#contactInformations #followUs{
    color: var(--gris);
}

#contactInformations a:hover,#contactInformations #logoSocialNetwork i:hover{
    color: var(--grisHover);
}
/*
========================================================================================
PARTIE Join
========================================================================================
*/
#joinAsso{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3% 3%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: var(--jaune);
    text-align: center;    
}

#joinAsso h2{
    font-family: "Permanent Marker", cursive;
    font-size: 5vh;
    margin-bottom: 10%;
    text-align: center;
}

#joinAsso h3{
    font-family: "Permanent Marker", cursive;
    font-size: 3vh;
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}

#joinAsso p{
    font-size: 2vh;
}

 /*
========================================================================================
PARTIE Maps
========================================================================================
*/

#map iframe{
    height: 50vh;
    width: 100%;
}

 /*
========================================================================================
PARTIE Responsive
========================================================================================
*/
@media (max-width: 950px) {
    #cardsBox{
        flex-direction: column;
    }
    .cards{
        width: 80%;
        margin: 0 10%;
    }
    .cards img {
        width: 50%;
    }    
    #quote{
        padding-right: 15%;
        padding-left: 15%;
    }

    #parallaxe h3{
        font-size: 5vh;
    }
    
    #parallaxe p {
        font-size: 2vh;
        font-weight: 600;
    }
    #gridFooter{
        grid-template-columns: 1fr;
        
    }
    #gridFooter div {
        margin: 3%;
    }
    #footerWrapper p,#gridFooter h4 {
        font-size: 4vw;
    }
    #gridFooter i {
        font-size: 10vw;
    }
    #activities h2 {
        font-size: 7vh;
    }
    #joinAsso{
        grid-template-columns: 1fr;
        margin-bottom: 10%;
    }
    #logoSocialNetwork i {
        font-size: 7vw;
    }
    #followUs h4 {
        font-size: 4vh;
    }

    
}

