:root{
    --jaune : rgba(254,198,75,255);
    --hover : #FED885;
    --gris : rgb(56, 56, 56);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--gris);
}

header{
    background-color: rgba(56, 56, 56, 0.8);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
}

header img {
    max-height: 9vh;
}

nav{
    display: flex;
    margin-right: 7%;
}

nav ul {
    display: flex;
    gap: 8%;
}

nav li , nav a:visited ,nav a {
    color: var(--jaune);
    list-style: none;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration-line: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

nav li:hover{
    color: var(--hover);
}

/*
========================================================================================
Partie BANNER
========================================================================================
*/

#banner{
    width: 100vw;
    max-width: 100vw;
    margin-top: 8vh;
}

#banner figure {
    width: 100vw;
}

#banner img {
    max-width: 100vw;
    width: 100vw;
}

/*
========================================================================================
Partie ACTIVITIES
========================================================================================
*/

#activities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
#activities h2 {
    color: var(--jaune);
    font-size: 5rem;
    font-family: "Permanent Marker", cursive;
}


#cardsBox{
    display:flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25vw;
}

.cardContent {
    padding: 5%;
}
.cardContent p{
    margin: 5%;
    text-align: center;
    color: var(--jaune);
    font-size: larger;
}
.cardContent h3{
    font-family: "Permanent Marker", cursive;
    color: var(--jaune);
    font-size: 2rem;
}

.cards img{
    min-width: 20vw;
    max-width: 20vw;
}
/*
========================================================================================
PARTIE Parallaxe 
========================================================================================
*/

#parallaxe{
    width:100vw;
    height: 70vh;
    background:url('../asset/Gare_Debout_bg_parallaxe_bw.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

#parallaxe h3{
    color: var(--jaune);
    font-size: 10em;
    font-family: "Permanent Marker", cursive;
}

#parallaxe p {
    color: var(--jaune);
    font-size: 2em;
    font-family: "Permanent Marker", cursive;
}